*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding:2%;
    align-items: center;
    /* border: #3b50df solid 1px; */
}

#active{
    color: #3b50df;
}
nav div a{
    text-decoration: none;
    font-size: 2rem !important;
    font-weight: bold;
}

ul{
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

ul li{
    list-style: none;
    /* padding:5%; */
    display: flex;
    justify-content: space-around;
    padding:2% 15px;
}

#gry{
    color:rgb(92, 87, 87);
}

ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

#signout{
    text-decoration: none;
    background-color: #3b50df;
    color: #fff;
    padding: 10px;
    height: 35px;
    width: 83px;
    border-radius: 4px;
}
 
div.section1, div.section2{
    padding: 5% 10%;
    width:80%;
}

div.section1 h2,div.section2 h2#gry{
    font-size: 2rem;
}

div.section1 h2, div.section1 p,div.section2 h2, div.section2 p{
    padding: 1% 0%;
}

div h2 span{
    color: #000;
}

div.blocks{
    display: flex;
}

div.block1{
    margin: 0 3% 5% 0;
    /* border: rgb(136, 135, 135) solid 1px; */
    box-shadow: 0 0 8px grey;
    width: 330px;
}

div.block1 img{
    height: 200px;
    width: 330px;
    /* height: 100%;
    width: 100%; */
}


div.block1 div.belowimage div h3{
    padding:2% 5%;
}

div.block1 div.belowimage div.withpara p{
    padding: 0% 0% 5% 5%;
    font-weight: 500;
}

div.block1 div.belowimage div.withsmall p{
    padding:0% 5%;
    font-size: 0.8rem;
    font-weight: 500;
}

.price{
    padding:2% 5%;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    nav ul{
        display: none;
    }

    div.blocks{
        display: flex;
        flex-direction: column;
    }
  }