@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Luxurious+Roman&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5fafe;
}
.navbar{
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    padding: 15px;
    font-family: "Work Sans", sans-serif;
    background-color: #f5fafe;
}
.logo{
    color: #3b50df;
    font-weight: 550;
    padding-left: 10px;
}
ul {
    display: inline;
    list-style: none;
    margin: 0 20px;
    
}

li{
    display: inline-block;
    margin: 0 20px;
    
}

li a{
    text-decoration: none;
}

li a:visited{
    color: #000;
    transition: all 0.3s;
}


li a:hover,
li:visited{
    color: #3b50df;
}
.container{
    display: flex;
}
.left{
    
    background: #f5fafe;
    font-family: 'League Gothic', sans-serif;
    min-height: 100vh;
    min-width: 50vw;
    font-size: 100px;
    padding: 50px 15px 20px 30px;
}
.right{
    background-color: #f5fafe;
    max-height: 100vh;
    min-width: 50vw;
    padding: 20px 10px 20px 10px;
}
.smallleft{
    font-size: 30px;
    color: grey;
    padding-top: 40px
  }
.top-end-img{
    width: 690px;
    height: 660px;
    
}
.box{
    min-width: 40px;
    min-height: 60px;
    background-color:grey;
    font-size: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }
  a:hover,
  a:visited{
    color: #3b50df;
}
  .box:hover{
    color:#f5fafe;
    background:#3b50df;
    text-decoration: none;
  }
  
.container2 {
  padding: 65px 0;
  background-color: #f5fafe;
  height: 90vh;
  padding: 0 44px;
  display: flex;
  align-items: center;
}
.left-service{
    max-width: 50vw;
    min-height: 50vh;
    font-size: 40px;
    font-weight: 300px;
}
