<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HousingNeedWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="logo">
                    <svg xmlns="htp://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 -10 64 64"
                         style=" fill:#3b50df;">
                    </svg>
                    Housing Needs
                </div>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a href="./hyperlink/propertyList.html">  Home</a></li>
                        <li class="nav-item"><a href="./hyperlink/agent.html">  Agent</a></li>
                        <li class="nav-item"><a href="./hyperlink/service.html">  Services</a></li>
                        <li class="nav-item"><a href="./hyperlink/whyus.html">  Why us</a></li>
                        <li class="nav-item"><a asp-controller="Account" asp-action="Signout" asp-area="MicrosoftIdentity">Signout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            

        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HousingNeedWebApp - Microsoft Virtual Internship
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
