
<link rel="stylesheet" href="/css/StyleSheet.css">

<nav class="navbar">
    <h7>   Welcome  @User.Claims.FirstOrDefault(x => x.Type.Equals("name")).Value,      </h7>
    
</nav>
<div class="container">

    <div class="left">
        Let's find a home <br>that is perfect for your family.
        <div class="smallleft">With largest variety of house to chose from our website</div><br />
        <button type="button" class="btn-group-sm" ><a href="~/hyperlink/propertyList.html">Explore</a></button>
    </div>

   
</div>
<div class="container2">
    <div class="left-service">
        <div class="servicehead">
            <p>Commerical Real Estate And Office </p>
            <div class="smallleft">work with rent broker</div><br>
            <div class="hero"></div>

            <a href="hyperlink/Buyingguide.html">
                <div class="box"> Property Buying Guide</div>
            </a>
            <a href="hyperlink/rentingguide.html">
                <div class="box">Renting a Property Guide </div>
            </a>
            <a href="https://housepriceprediction05.herokuapp.com/">
                <div class="box">Check The Rate In The City</div>
                </a>
        </div>
    </div>
    <div class="right-service">
        <img src="./images/office-bg.jpeg" alt="House Image" width="850vw" height="500vh">

    </div>
</div>
